<<< define "footScript" >>>
<script src="../../public/js/vue.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/router.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/menu.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/index.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/axios.min.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/moment.js" charset="UTF-8" type="application/javascript"></script>
<script src="../../public/js/jquery-1.8.0.js"></script>
<script src="../../public/js/qs.js"></script>
<<< end >>>